/* .center1 {
    border: 2px solid grey;
    background-color: rgb(173, 236, 236);
    margin-top: 80px;
    margin-top: 150px;
    margin-left: 400px;
    width: 50%;
    padding-top: 50px;
    /* padding: 10px; */
    /* border-radius: 30px; */

input{
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
}
button{
    margin: 40px;
}
.img-cont img {
    width: 200px;
    height: 200px;
    border:3px solid black;
    border-radius: 10px;
    /* border-radius: 50%; */
  }
  .button {
    margin-left: 40px;
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 40px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }