.top1{
  margin-top: 100px;
}

.top {
    margin: 40px;
    /* border: 2px solid rgb(255, 255, 255);
    background-color: rgb(231, 181, 181); */
    /* margin-top: 30px; */
    opacity: 0.9;
    margin: auto;
    width: 50%;
    padding-top: 50px;
    /* padding: 10px; */
    border-radius: 10px;
    /* box-shadow: 5px 7px 8px 7px #f6f6f6; */
  }
  
  input[type="file"] {
    display: none;
  }
  
  .choose {
    background-color: initial;
    background-image: linear-gradient(-180deg, #2f73af, #2b69ba);
    border-radius: 6px;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 6px;
    margin-right: 10px;
    padding-bottom: 10px;
  }
  .choose:hover {
    box-shadow: rgba(22, 226, 226, 0.5) 0 3px 8px;
  }
  .textArea {
    color: rgb(249, 248, 248);
  }
  
  .upload {
    border: 1px solid #7bf3eb;
    background-color: #4e97bc;
    color: #062920;
    padding: 5px 10px;
    border-radius: 6px;
    margin-left: 10px;
  }
  
  .upload:hover {
    border: 1px solid #457dd8;
    background-color: #3c3aa4;
    color: #ffffff;
    padding: 5px 10px;
  }
  
  .upload:disabled,
  .upload[disabled] {
    border: 1px solid #1a0101;
    background-color: #619bba;
    color: #f7f1f1;
  }
  
  div {
    padding: 5px 10px;
  }
  