a{
  font-size: xx-small;
}
  .image-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 12px;
    grid-auto-rows: 350px;
  
    margin: 20px;
  }
  /* .container5{
    border: 2px solid rgb(54, 30, 30);
    border-radius: 10px;
    background-color: rgb(215, 252, 230);
  }QmeqJFk1wKfqMrRisY6SgZy9aVBDf7Zqkyp99fj5TYjSQs */

  
  .image-list img {
    width: 250px;
    height: 265px;
  }
  .center {
    margin: 40px;
  }
  
  .button {
    background-color: initial;
    background-image: linear-gradient(-180deg, #009ffd, #2a2a72);
    border-radius: 6px;
    color: #ffffff;
    padding: 5px 10px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 10px;
    padding-bottom: 10px;
  }
  .button:hover {
    box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
  }
  .address {
    width: 300px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid gray;
  }
  
  /* input[type="text"]:focus {
    background-color: lightblue;
  } */
  /*  //////////////////*/

  .image-container {
    text-align: center;
    margin: 20px;
    max-width: 600px;
    overflow:visible;
    object-fit: fill;
  }
  
  .image-container img {
    width: 200px;
    height: 200px;
    border:1px solid black;
    border-radius: 10px;
    /* object-fit: fill; */
    /* border-radius: 50%; QmeqJFk1wKfqMrRisY6SgZy9aVBDf7Zqkyp99fj5TYjSQs*/
  }
  
  .image-container a {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    word-wrap: break-word;
    color: rgb(116, 99, 138);
    /* border: 1.5px solid black; */
  }